@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("mem8YaGs126MiZpBA-UFUZ0f.eot")/*tpa=https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0f.eot*/;
}
